body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  height: 700px;
  margin-top: 10px;
}
@media only screen and (min-width: 1113px) {
  #skillmap .container{
  }
}

@media only screen and (max-width: 1112px) {
  #skillmap .container{
  }
}

.main-content{
  max-width: none!important;
  padding: 2rem 1rem!important;
}
#skillmap .container{
    float:left;
}

#skills-chart-breadcrumb{
  width:100%;
}

#skillmap .skills-wrapper {
  margin-top:  1.5em;
  overflow: auto;
}
#skillmap .skills-sunburst {
  float: left;
}
#skillmap .skills-sunburst svg {
  font: 11px 'Source Sans Pro', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#skillmap .skills-chart {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 80px 20px 0 0;
}
#skillmap .skills-chart .breadcumb-text {
  font-size: 13px;
  font-weight: 700;
}
#skillmap .skills-chart #skills-chart-line {
  fill: none;
  stroke-width: 3.5px;
}
#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
  fill: none;
}
#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}